#product-catalouges {
  ul {
    li {
      .add_to_cart_button {
        display: none;
      }
      a {
        .onsale,
        .price,
        .cat_product {
          display: none;
        }
        img {
          height: 400px;
          object-fit: cover;
          object-position: center;
        }
        .woocommerce-loop-product__title {
          text-align: center;
          justify-content: center;
        }
      }
    }
  }
}
